.note-close-btn {
    position: absolute;
    top: 4px;
    right: 15px;
    font-size: 2em;
    cursor: pointer;
}

.consult-textarea {
    width: 90%;
    height: 100px;
    padding: 10px;
}

.note-p {
    padding: 20px 35px;
    text-align: justify;
}